/*--------------
    Fonts Link 
-------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Reuseable Component  */
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}
h1{
    font-size: 52px;
   
}
p{
    font-size: 16px;
    
}
.btn{
    padding: 15px 22px;
    background-color: #E02C6D;
    border: none;
    border-radius: 5px;
    margin: 50px 0;
}
.btn a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
/* Start Nav Section Design  */
.logo-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    align-items: center;
}
.navbar{
    width: 70%;
    text-align: center;
    padding-left: 60px;
}
.logo{
    width: 30%;
    text-align: center;
    font-size: 28px;
}
.navbar .list-item li{
    display: inline-block;
    list-style-type: none;
    padding: 0 20px;
    font-size: 18px;
}
.list-item a{
    text-decoration: none; 
    color: #3A3A3A;
}
.list-item>.active>a{
    color: #E02C6D;
}
.list-item a:hover,
.list-item .icon:hover{
    color: #E02C6D;
}
.list-item .icon{
    color: #000000;
}
/* Hero Area Style  */
.hero{
    
}
.hero-area{
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.11);
    padding: 100px 50px;
    margin:  0;
    
}
.hero-description{
    width: 60%;
}
.arrow{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-left: 10px;
}
.hero-img{
    width: 40%;
    text-align: center;
}
.hero-img img{
    width: 80%;
}
/* Start Logo Section Style  */
.company-container{
   
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d9e8fb;
    margin: 50px 0;
}
/* Start Products Collection Section Style */
#products{
    margin: 100px 0px;
    display: flex;
    justify-content: center;
}
.item{
    width: 330px;
    height: 480px;
    box-shadow: 8px 8px 16px gray;
    border-radius: 5px;
    padding: 15px;
}
.item-img img{
    width: 100%;

}
.product-title h2{
    font-size: 42px;
    text-align: center;
    margin-bottom: 30px;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.item-info .star{
    color: orange;
}
.item-title{
    font-size: 28px;
    color: #18191F;
    font-weight: normal;
}
.item-detalis-star{
    padding: 10px 0;
}
.item-price{
    font-size: 24px;
    color: #000000;
    
}
.rating{
    font-size: 16px;
    color: #5E6366;
}
.item-description{
    color: #787885;
    font-size: 14px;
}